/* Navigation */
nav {
    text-align: start;
}

.nav a {
    margin: 0 1rem;
    padding: 10px 10px 10px 0;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}

.nav a:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

/* Active navigation state */
.nav-active {
    margin: 0 1rem;
    padding: 10px 10px 10px 0;
    color: rgb(255, 0, 0);
    cursor: default;
    pointer-events: none;
}