/* Navigation */
nav {
    text-align: left;
    margin: 5% 0;
}

.nav a {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}

.nav a:hover {
    color: rgb(255, 0, 0);
    
    text-decoration: none;
}