<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>$title</title>
    <meta name="description" content="$description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="canonical" href="$canonical">
</head>
<body>
    <nav>
        <div class="nav-inner">
            <a href="/">Manifesto</a>
            <a href="/lab">Seigr Lab</a>
            <a href="/beekeeping">Seigr bigård</a>
            <a href="/music">Music</a>
            <a href="/lab/roadmap">Roadmap</a>
        </div>
    </nav>
    <main>
        <div class="container">
            <!-- CONTENT -->
            $content
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Seigr</p>
    </footer>
    <script src="/static/js/tabs.js"></script>
</body>
</html>